.appointment-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: blue;
    width: 300px;
    height: 300px;;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.appointment-card__content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
}